.loaderWrapper {
  z-index: 10;
  position: absolute;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.background {
  background: #03032d linear-gradient(178.85deg, #041546 2.67%, rgba(6, 26, 83, 0.33) 99.01%);
}

.loaderText {
  color: #9da3dc;
}
