.wrapper {
  background: #010314;
  height: 100dvh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 84px;
  padding: 0 40px;

  border-bottom: 1px solid #9da3dc33;
  background: #00000066;
}

.back {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;

  svg {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
  }
}
