.wrapper {
  display: grid;
  grid-template-columns: minmax(max-content, 140px) auto;
  grid-gap: 16px;
}

.label {
  display: flex;
  align-items: center;

  white-space: pre-line;

  font-size: 14px;
  font-weight: 400;
  color: #ffffffb3;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delimiter {
  grid-column: 1 / -1;

  border-bottom: 1px solid #9da3dc33;
  width: 100%;
}
