.backgroundGradient {
  position: absolute;
  z-index: 1;
  width: 100%;
  pointer-events: none;
  bottom: 0;
  top: 0;
  background: linear-gradient(0deg, #13082a 5.87%, rgba(19, 8, 42, 0) 79.52%);
}

.topGradient {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}
